*{
    margin: 0;
    padding: 0;
}
img{
    position: relative;
}
.header{
    display: flex;    
    width: 1400px;
    height: 768px;
    background-color: #F9FBFF;
}
.header_item:first-child{
    width: 257px;
    padding-left: 180px;
}
.Logo{
    padding-top: 73px;
    margin-bottom: 389px;
}
.header_item:last-child{
    width: 100%;
    background-color: #415167;
    padding-left: 56px;
    padding-top: 74px;
}
.header_text{
    z-index: 3;
}
.Header_play{
    position: absolute;
    left: 293px;
    top:338px;
    z-index:4;
}
.header_item{
    position: relative;
}
.cart{
    margin-bottom: 114px;
}
.nav_item{
    margin-bottom: 26px;
    font-family: Nunito;
    font-style: normal;
    font-weight: 250;
    font-size: 16px;
    line-height: 22px;
    color: #EDF0F5;
}
.nav_item:first-child{
    margin-bottom: 30px;
    color: #EDF0F5;
    font-weight: 700;
}
.Feature{
    width: 1104px;
    height: 383px;
    margin-top: 88px;
    margin-left: 149px;
    margin-bottom: 130px;
    position: relative;
}
.block{
    margin-top: 67px;
    width: 100%;
    display: flex;
    align-items: flex-end;
}
.block_item{
    width: 225px;
    height: 250px;
    margin-right: 67px;
}
.block_item:last-child{
    margin-right: 0px;
}
.main_title{
    text-align: center;
    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #415167;
    margin-bottom: 0.3em;
}
.main_title1{
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    color: #415167;
    line-height: 34px;
}
.ic{
    margin-top: 21px;
    margin-left: 75px;
    margin-bottom: 39px;
}
.item_title{
    text-align: center;
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 0.6em;
}
.p1{
    font-family: Nunito;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
}
.left_item{
    height: 894px;
    width: 384px;
    background-color: #415167;
}
.Coffe{
    display: flex;
    position: relative;
}
.coffe_title{
    padding-left: 156px;
    padding-top: 87px;    
}
.bloc_cof{
    display: flex;
    position: absolute;
    top: 222px;
    left: 130px;
}
.bloc_cof1{
    display: flex;
    position: absolute;
    top: 510px;
    left: 130px;
}
.item_cof1{
    display: flex;
    position: relative;
    width: 560px;
    height: 256px;
    background-color: white;
    margin-right: 29px;
}
.item_cof1:first-child{
    box-shadow: 0 0 15px rgb(189 189 189);
}
.item_cof2{
    display: flex;
    position: relative;
    width: 560px;
    height: 256px;
    background-color: white;
    margin-right: 29px;
}
.ImCoffe{
    opacity: 0.5;
}
.Arrow{
    position: absolute;
    left: 1277px;
    top: 459px;
}
.cost{
    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #C7A17A;
    margin-bottom: 0.2em;
}
.name_pr{
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #232C38;
    margin-bottom: 1.1em;
}
.descrip{
    font-family: Nunito;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    color: #151D28;
    margin-bottom: 34px;
}
.ex{
    background-color: white;
    height: 100%;
    width: 100%;
    padding-left: 45px;
    padding-top: 42px;
    box-sizing: border-box;
}
.buy{
    margin-right: 28px;
}
.buy_block{
    display: flex;
    width: 100%;
}
.buy_text{
    margin-top: 9px;
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #415167;
}
.left_background{
    height: 802px;
    width: 1076px;
    background: #EDF0F5;
}
.Gif_title{
    padding-top: 83px;
    padding-left: 307px;
}
.Gifset{
    position: relative;
}
.revi_back{
    display: flex;
    background-color: white;
    width: 882px;
    height: 460px;
    position: absolute;
    left: 386px;
    top: 216px;
}
.revo{
    z-index: 5;
    margin-top: 65px;
    margin-left: 128px;
}
.revo_disc{
    width: 794px;
    height: 100%;
    background-color: white;
    padding-left: 299px;
    padding-top: 64px;
    box-shadow: 0 0 15px rgb(189 189 189);
    box-sizing: border-box;
}
.block_revo{
    z-index: 1;
    width: 88px;
    height: 460px;
    position: relative;
    background-color: white;
}
.button_revo{
    background-color:#EDF0F5;
    width: 88px;
    height: 154px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 34px;
    color: #415167;
    mix-blend-mode: normal;
    opacity: 0.3;
    text-align: center;
}
.button_revo:first-child{
    background-color: white;
    box-shadow: 0 0 7px rgb(189 189 189);
    z-index: 3;
    opacity: 1;
}
.text_button{
    padding-top: 60px;
}
.name_pr1{
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #232C38;
    margin-bottom: 0.6em;
}
.block_icon{
    display: flex;
    margin-bottom: 47px;
}
.ic_cof{
    display: flex;
    position: relative;
    margin-right: 157px;
}
.ic_moun{
    display: flex;
    position: relative;
}
.descrip1{
    font-family: Nunito;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    color: #151D28;
    margin-bottom: 26px;
}
.buy1{
    margin-right: 124px;
}
.r_text{
    margin-left: 12px;
    font-family: Nunito;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    color: #415167;
}
.r_text1{
    width: 175px;
    position: absolute;
    left: 52px;
    top: 22px;
    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #415167;
}
.right_background{
    width: 326px;
    height: 906px;
    margin-left: 1075px;
    background-color: #415167;
}
.Combo_title{
    position: absolute;
    left: 550px;
    top:85px;
}
.Combo{
    overflow: hidden;
    width: 1400px;
    display: flex;
    position: relative;
}
.block_product{
    position: absolute;
    width: 1530px;
    display: flex;
    height: 562px;
    left: 128px;
    top: 212px;
}
.item_product1{
    width: 360px;
    height: 562px;
    margin-right:30px;
    background-color: white;
}
.product_dis{
    position: relative;
    padding-top: 38px;
    padding-left: 42px;
    padding-right: 38px;
}
.Pr_cost{
    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #C7A17A;
    margin-bottom: 0.3em;
}
.item_product1:first-child{
    box-shadow: 0 0 15px rgb(189 189 189);
}
.item_product1.opacity{
    opacity: 0.5;
}
.pr_arrow{
    position: absolute;
    left: 1151px;
    top: 222px;
}
.nol{
    font-family: Nunito;
    font-style: italic;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    color: #415167;
    margin-left: 18px;
}
.Pr_name{
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #232C38;
    margin-bottom: 0.5em;
}
.Pr_discrip{
    font-family: Nunito;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    color: #151D28;
    margin-bottom: 31px;
}
.buy2{
    margin-right: 66px;
}
.footer{
    width: 1402px;
    height: 60px;
    background-color: #EDF0F5;
    padding-top: 15px;
    box-sizing: border-box;
}
.footer_text{
    font-family: Nunito;
    font-style: italic;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    color: #415167;
    text-align: center;
}